body {
    height: 600px;
    margin-top: 0%;
    display: flex;
    font-family: 'Anton', sans-serif;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #131111 0%,#865a00 , 50%, black 100%);
  }
  @media screen and (max-width:900px){
    body{
      overflow: scroll;
      width: 98%;
      height: auto;
    }
     #home{
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 30px;

     } 
    article{
      position: sticky;
      padding-top: 30px;
    }
  }
  .night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
  }
  .shooting-star {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 5px;
    background: linear-gradient(-45deg, rgb(0, 0, 255, 0) , #0011ff, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%),translateZ(45deg);
    filter: drop-shadow(0 0 20px rgb(16, 34, 199));
    animation:
      tail 3s ease-in-out infinite,
      shooting 3s ease-in-out infinite;
  }
  @keyframes tail {
    0% {
      width: 0;
    }
    
    30% {
      width: 100px;
    }
    
    100% {
      width: 0;
    }
  }
  
  @keyframes shooting {
    0% {
      width: 0;
    }

    100% {
      width: 0;
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    
    100% {
      transform: translateX(300px);
    }
  }
  .shooting-star::before, .shooting-star::after{
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
     width: 30px;
    height: 4px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #0011ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3s ease-in-out infinite;
    animation-delay: 0s;
  }  
  @keyframes shining {
    0% {
      width: 0;
    }
    
    50% {
      width: 30px;
    }
    
    100% {
      width: 0;
    }
  }
  .shooting-star::after{
    transform: translateX(50%) rotateZ(-45deg);
    border-radius: 100%;
  }

  .shooting-star:nth-child(1){
      top: calc(50% - 100px);
      left: calc(50% - 250px);
      animation-delay: 1s;
  }
     .shooting-star:nth-child(1)::before, .shooting-star:nth-child(1)::after{
         animation-delay: 1s;
     }  
     .shooting-star:nth-child(2){
        top: calc(50% - 200px);
        left: calc(50% - 150px);
        animation-delay: 1.2s;
    }
       .shooting-star:nth-child(2)::before, .shooting-star:nth-child(2)::after{
           animation-delay: 1.2s;
       }
       .shooting-star:nth-child(3){
        top: calc(50% - 0px);
        left: calc(50% - 150px);
        animation-delay: 1.3s;
    }
       .shooting-star:nth-child(3)::before, .shooting-star:nth-child(3)::after{
           animation-delay: 1.3s;
       }
       .shooting-star:nth-child(4){
        top: calc(50% - 50px);
        left: calc(50%- 200px);
        animation-delay: 1.4s;
    }
       .shooting-star:nth-child(4)::before, .shooting-star:nth-child(4)::after{
           animation-delay: 1.4s;
       }
       .shooting-star:nth-child(5){
        top: calc(50% - -100px);
        left: calc(50% - 50px);
        animation-delay: 1.5s;
    }
       .shooting-star:nth-child(5)::before, .shooting-star:nth-child(5)::after{
           animation-delay: 1.5s;
       }
       .shooting-star:nth-child(6){
        top: calc(70% - 200px);
        left: calc(70% - 100px);
        animation-delay: 1.6s;
    }
       .shooting-star:nth-child(6)::before, .shooting-star:nth-child(6)::after{
           animation-delay: 1.6s;
       }
       .shooting-star:nth-child(7){
        top: calc(70% - 300px);
        left: calc(70% - 200px);
        animation-delay: 1.8s;
    }
       .shooting-star:nth-child(7)::before, .shooting-star:nth-child(7)::after{
           animation-delay: 1.8s;
       }

p{
    color: #F3F2C9;
    font-size: 30px;
    font-family: fantasy;
    word-spacing: 4px;
    line-height: 30px;
    font-style: oblique;
}
#home{
    float: right;
    padding-right: 40px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bolder;
    color: #d8baaf;
    font-style: italic;
    position: relative;  
}
section{
    width: 96%;
    height: 100%;    
    margin: 50px 50px    
}
article{
    color: #DF5E5E;
    text-align: center;
    position: sticky;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 30px;
    text-shadow: 6px 6px 8px rgb(71, 68, 68);
}